<!doctype CSS>

body {

    margin: 20px;
    background-color: #FAF0E6;
    font-family: sans-serif;

}

.headerImage{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 25px;
    
}

.cardTitle{
    
    color: #95504F;
    font-size: 2em;

}

.card.mb-3{
    
    align-self: center;
    
}