<!doctype CSS>

body {

    margin: 20px;
    background-color: #FAF0E6;
    font-family: sans-serif;

}

.headerImage{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 25px;
    
}


.bannerImage{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.card-title{
    
    font-size: 2em;
    color: #95504F;
}

.card-text{
    
    font-size: 1em;
    color: #95504F;
}

#userFlowText{
    
    text-align: center;
    color: #95504F;
    
}

#userFlowImage{
    
    width: 75%;
    padding-left: 300px;
    
}
